form {
    width: 400px;
    margin: 40px;
    padding: 40px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-family: Arial;
}
input {
    width: 250px;
}
#boton {
    width: 258px;
}            
.contenedor {
    width: 400px;
    margin: 50px;
    padding: 50px;
    background-color: blue;
    color: white;
    font-family: Arial;
}
p {
    margin-left: 20px;
}